---
//Component Imports
import Layout from "../layouts/Layout.astro";
import Button from "../components/ui/Button.astro";
import { Image } from "astro:assets";
import MarqueeCard from "../components/MarqueeCard.astro";
import LocationTabs from "../components/locations/LocationTabs.jsx";

//Asset Imports
import hero from "../assets/home-header.png";
import decor from "../assets/home-decorations.png";
//Marquee Images
import pastelTradicional from "../assets/covers/pastel-tradicional.png";
import pastelAnytime from "../assets/covers/pastel-anytime.png";
import panques from "../assets/covers/panque.png";
import panettone from "../assets/covers/panettone.png";
import miniBrownies from "../assets/covers/mini-brownies.png";
import conchas from "../assets/covers/conchas.png";
import kingChocolate from "../assets/covers/king-chocolate.png";
import magnolias from "../assets/covers/magnolias.png";
import queenLilibet from "../assets/covers/queen-lilibet.png";
import biscochuelos from "../assets/covers/biscochuelos.png";
import coffee from "../assets/covers/coffee.png";

const sucursalesRappi = [
  "Qin",
  "Serena",
  "La Fe",
  "Arboleda",
  "San Jerónimo",
  "Contry",
  "Carranza",
  "Cumbres",
  "Sendero",
];
---

<script src="../utils/homeAnimations.js"></script>

<Layout
  title="La Pasteleria de La Postreria 77"
  description="Encuentra toda la variedad de pasteles de los restaurantes de La Postreria 77, productos exclusivos de La Pastelería, y artículos para decorar tus pasteles."
>
  <header
    class="mx-2 flex min-h-screen flex-col gap-8 overflow-clip bg-gradient-to-b from-header-1 via-header-2 via-50% to-header-3 to-80% object-cover object-right-bottom px-page pt-48 text-light sm:flex-row sm:items-center sm:gap-0 sm:px-16 sm:pt-0 lg:mx-4"
  >
    <div class="flex flex-shrink-0 flex-col items-start gap-1 sm:gap-2">
      <span
        class="mb-4 text-[8px] font-light uppercase tracking-[0.1rem] sm:mb-6 sm:text-xs"
        >Pasteles, Panqués, Postres y Artículos de fiesta</span
      >
      <h1 class="text-3xl font-bold uppercase sm:text-4xl">
        Pastelerías de <span class="text-brand">calidad</span>.
      </h1>
      <p
        class="mb-8 max-w-[50ch] text-balance text-xs font-light leading-loose sm:text-base sm:leading-loose"
      >
        Encuentra toda la variedad de pasteles de los restaurantes de <span
          class="font-medium">La Postreria 77</span
        >, productos exclusivos de La Pastelería, y artículos para decorar tus
        pasteles.
      </p>
      <Button arrow href="/menu">Ver Menú</Button>
    </div>
    <div>
      <Image
        loading="eager"
        src={hero}
        alt="Nuestro pastel Almond Toffee en tamaño Anytime."
        class="w-full min-w-[40rem] origin-top-left scale-90 sm:scale-125"
      />
    </div>
  </header>
  <section class="py-24">
    <div class="flex flex-col items-center gap-2 px-page text-center">
      <h2 class="text-balance text-2xl font-bold uppercase sm:text-4xl">
        Somos una promesa de calidad
      </h2>
      <p class="max-w-prose leading-loose">
        Todos nuestro productos son elaborados diariamente, con procesos
        artesanales y productos de las mejores marcas del mercado que aseguran
        brindarte una experiencia incomparable.
      </p>
    </div>
  </section>
  <section class="mx-2 bg-light px-page py-20 sm:mx-4 sm:p-40">
    <div class="flex flex-col items-center justify-center gap-16 sm:flex-row">
      <div class="relative z-10 flex-shrink-0">
        <span
          class="absolute -inset-[4px] border-[0.5px] border-dark sm:-inset-[8px]"
          aria-hidden="true"></span>
        <span
          class="absolute -inset-[6px] border-[1px] border-dark sm:-inset-[12px]"
          aria-hidden="true"></span>
        <Image
          src={decor}
          alt="Dos pasteles de pistache decorados con nuestros artículos de arcoíris."
          class="aspect-[16/10] w-full max-w-xl object-cover"
        />
      </div>
      <div class="flex flex-col items-start gap-4">
        <div class="flex items-center gap-4">
          <span class="hidden h-[2px] w-12 bg-dark sm:block" aria-hidden="true"
          ></span>
          <h3 class="text-2xl font-bold uppercase sm:text-3xl">
            Ideas de <span class="text-brand-3">Decoración</span>
          </h3>
        </div>
        <p class="mb-4 leading-loose">
          Todos nuestro productos son elaborados diariamente, con procesos
          artesanales y productos de las mejores marcas del mercado que aseguran
          brindarte una experiencia incomparable.
        </p>
        <Button
          intent="secondary"
          arrow
          href="https://www.instagram.com/lapasteleriadelapostreria77/"
          newTab
        >
          Ver Ideas
        </Button>
      </div>
    </div>
  </section>
  <section class="group flex gap-4 overflow-clip py-16">
    <ul
      class="flex animate-marquee gap-2 group-hover:[animation-play-state:paused] sm:gap-4"
    >
      <MarqueeCard image={pastelTradicional} name="Pasteles Tradicional" />
      <MarqueeCard image={pastelAnytime} name="Pasteles Anytime" />
      <MarqueeCard image={panques} name="Panqués" />
      <MarqueeCard image={panettone} name="Panetonne" />
      <MarqueeCard image={miniBrownies} name="Mini Brownies" />
      <MarqueeCard image={conchas} name="Conchas" />
      <MarqueeCard image={kingChocolate} name="King Chocolate" />
      <MarqueeCard image={magnolias} name="Magnolias" />
      <MarqueeCard image={queenLilibet} name="Queen Lilibet" />
      <MarqueeCard image={coffee} name="Café" />
    </ul>
    <ul
      class="flex animate-marquee gap-2 group-hover:[animation-play-state:paused] sm:gap-4"
      aria-hidden="true"
    >
      <MarqueeCard image={pastelTradicional} name="Pasteles Tradicional" />
      <MarqueeCard image={pastelAnytime} name="Pasteles Anytime" />
      <MarqueeCard image={panques} name="Panqués" />
      <MarqueeCard image={panettone} name="Panetonne" />
      <MarqueeCard image={miniBrownies} name="Mini Brownies" />
      <MarqueeCard image={conchas} name="Conchas" />
      <MarqueeCard image={kingChocolate} name="King Chocolate" />
      <MarqueeCard image={magnolias} name="Magnolias" />
      <MarqueeCard image={queenLilibet} name="Queen Lilibet" />
      <MarqueeCard image={coffee} name="Café" />
    </ul>
  </section>
  <section
    id="ubicaciones"
    class="mx-2 scroll-mt-24 bg-light px-page py-20 sm:mx-4 sm:p-40"
  >
    <div class="flex flex-col gap-12 sm:gap-20">
      <div class="flex items-center gap-4">
        <span class="hidden h-[2px] w-12 bg-dark sm:block" aria-hidden="true"
        ></span>
        <h3 class="text-2xl font-bold uppercase sm:text-3xl">
          Nuestras <span class="text-brand-3">Sucursales</span>
        </h3>
      </div>
      <div class="flex flex-col gap-6 sm:gap-8">
        <h4 class="text-sm uppercase tracking-widest sm:text-base">
          Sucursales Físicas:
        </h4>
        <LocationTabs client:visible />
      </div>
      <div class="flex flex-col gap-6 sm:gap-8">
        <h4 class="text-sm uppercase tracking-widest sm:text-base">
          Monterrey Solo en plataformas de delivery en:
        </h4>
        <ul class="flex flex-wrap gap-4 sm:gap-12">
          {
            sucursalesRappi.map((sucursal) => (
              <li class="relative flex-shrink-0 text-xs font-medium sm:text-xl">
                <span
                  aria-hidden="true"
                  class="absolute -left-2 top-1/2 size-[2px] -translate-y-1/2 bg-dark sm:-left-3 sm:size-1"
                />
                {sucursal}
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </section>
</Layout>
