---
import { db, Pasteles, Productos, eq } from "astro:db";
const pasteles = await db.select().from(Pasteles);
const panques = await db
  .select()
  .from(Productos)
  .where(eq(Productos.categoryId, 1));
const postres = await db
  .select()
  .from(Productos)
  .where(eq(Productos.categoryId, 2));

import Layout from "../layouts/Layout.astro";
import PastelesCard from "../components/PastelesCard.astro";
import ProductCard from "../components/ProductCard.astro";
---

<Layout
  title="Menú"
  description="Consulta nuestro menú y descubre tu nuevo postre favorito."
>
  <main
    class="flex flex-col mx-4 min-h-screen bg-dark text-light p-page gap-12"
  >
    <header>
      <h1 class="text-5xl font-bold uppercase text-right">Menú</h1>
      <h2 class="font-bold text-2xl uppercase">Pasteles</h2>
    </header>
    <ul class="grid grid-cols-4 gap-8">
      {
        pasteles.map(
          ({ name, description, tradicional, anytime, rebanadaAnytime }) => (
            <PastelesCard
              name={name}
              description={description}
              tradicional={tradicional}
              anytime={anytime}
              rebanadaAnytime={rebanadaAnytime}
            />
          ),
        )
      }
    </ul>
    <h2 class="font-bold text-2xl uppercase">Panqués</h2>
    <ul class="grid grid-cols-4 gap-8">
      {
        panques.map(({ name, price, description }) => (
          <ProductCard name={name} price={price} description={description} />
        ))
      }
    </ul>
    <h2 class="font-bold text-2xl uppercase">Postres</h2>
    <ul class="grid grid-cols-4 gap-8">
      {
        postres.map(({ name, price, description }) => (
          <ProductCard name={name} price={price} description={description} />
        ))
      }
    </ul>
  </main>
</Layout>
