---
//Database imports
import { db, Pasteles, Productos, Bebidas, eq, desc, and } from "astro:db";
const pasteles = await db
  .select()
  .from(Pasteles)
  .where(eq(Pasteles.archived, false))
  .orderBy(desc(Pasteles.nuevo));

const panques = await db
  .select()
  .from(Productos)
  .where(and(eq(Productos.categoryId, 1), eq(Productos.archived, false)))
  .orderBy(desc(Productos.nuevo));

const postres = await db
  .select()
  .from(Productos)
  .where(and(eq(Productos.categoryId, 2), eq(Productos.archived, false)))
  .orderBy(desc(Productos.nuevo));

const conchasWaffle = await db
  .select()
  .from(Productos)
  .where(and(eq(Productos.categoryId, 4), eq(Productos.archived, false)))
  .orderBy(desc(Productos.nuevo));

const bebidas = await db.select().from(Bebidas);

//Component imports
import Layout from "../layouts/Layout.astro";
import PastelesCard from "../components/PastelesCard.astro";
import ProductCard from "../components/ProductCard.astro";
import CakeFlavs from "../components/CakeFlavs.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Button from "../components/ui/Button.astro";

//Image imports
import tradicional from "../assets/menu/tradicional.png";
import anytime from "../assets/menu/anytime.png";
import rebanada from "../assets/menu/rebanada.png";
import bebida from "../assets/menu/bebidas.webp";
import cafe from "../assets/menu/cafe.png";
import cafeBg from "../assets/menu/cafe-bg.png";
---

<Layout
  title="Menú"
  description="Consulta nuestro menú y descubre tu nuevo postre favorito."
>
  <main class="gap-12 bg-brand text-light">
    <!-- Pasteles -->
    <header
      class="mx-2 flex flex-col gap-8 bg-dark px-page py-16 pt-10 sm:mx-4 sm:gap-12 sm:py-20 lg:gap-16"
    >
      <div
        class="flex flex-row-reverse items-end justify-between gap-4 sm:flex-col sm:items-stretch"
      >
        <h1
          class="text-right text-2xl font-bold uppercase sm:text-4xl lg:text-5xl"
        >
          Menú
        </h1>
        <h2 class="text-xl font-bold uppercase sm:text-2xl">Pasteles</h2>
      </div>
      <ul class="mb-12 flex flex-col sm:flex-row sm:gap-page">
        <CakeFlavs
          image={tradicional}
          alt="Pastel Tamaño Tradicional."
          title="Tamaño Tradicional"
          price={1250}
          flavors={pasteles
            .filter((p) => p.tradicional === true)
            .map((pastel) => pastel.name)}
          icon="cake"
        />
        <CakeFlavs
          image={anytime}
          alt="Pastel Tamaño Anytime."
          title="Tamaño Anytime"
          price={590}
          flavors={pasteles
            .filter((p) => p.anytime === true)
            .map((pastel) => pastel.name)}
          icon="cake"
        />
        <CakeFlavs
          image={rebanada}
          alt="Pastel Tamaño Tradicional."
          title="Rebanada Anytime"
          price={149}
          flavors={pasteles
            .filter((p) => p.rebanadaAnytime === true)
            .map((pastel) => pastel.name)}
          extra="*Disponible únicamente en sucursal Herradura."
          icon="slice"
        />
      </ul>
      <ul
        class="grid grid-cols-2 gap-4 sm:grid-cols-3 sm:gap-6 lg:grid-cols-4 lg:gap-8"
      >
        {pasteles.map((pastel) => <PastelesCard {...pastel} />)}
      </ul>
    </header>
    <!-- Panques -->
    <section
      class="xs:py-12 mx-2 flex flex-col gap-8 bg-dark px-page sm:mx-4 sm:gap-12 sm:py-16 lg:gap-16 lg:py-20"
    >
      <h2 class="text-xl font-bold uppercase sm:text-2xl">Panqués</h2>
      <ul
        class="grid grid-cols-2 gap-4 sm:grid-cols-3 sm:gap-6 lg:grid-cols-4 lg:gap-8"
      >
        {panques.map((panque) => <ProductCard {...panque} />)}
      </ul>
    </section>
    <!-- Postres -->
    <section
      class="mx-2 flex flex-col gap-8 bg-dark px-page py-20 sm:mx-4 sm:gap-12 lg:gap-16"
    >
      <h2 class="text-xl font-bold uppercase sm:text-2xl">Postres</h2>
      <ul
        class="grid grid-cols-2 gap-4 sm:grid-cols-3 sm:gap-6 lg:grid-cols-4 lg:gap-8"
      >
        <div>
          <ProductCard
            image="/images/menu/conchas.webp"
            name="Conchas"
            price={75}
            description="Pan dulce de la casa, amasadas con nata 100% de granja y mantequilla Gloria Gourmet."
          />
          <div class="mt-4 flex flex-col">
            <h5 class="text-[10px] font-medium lg:text-base">
              Sabores disponibles:
            </h5>
            <p class="text-[10px] opacity-60 lg:text-sm">
              Vanilla, Chocolate Abuelita, Mazapán, Churro, Nuez.
            </p>
          </div>
          <div class="mt-4 flex flex-col">
            <h5 class="text-[10px] font-medium lg:text-base">
              Rellenos Disponibles:
            </h5>
            <div class="flex items-center justify-between">
              <p class="text-[10px] opacity-60 lg:text-sm">Nutella</p>
              <span class="text-[10px] lg:text-sm">$30</span>
            </div>
            <div class="flex items-center justify-between">
              <p class="text-[10px] opacity-60 lg:text-sm">Pistela</p>
              <span class="text-[10px] lg:text-sm">$30</span>
            </div>
          </div>
        </div>
        {
          postres.map(({ image, name, price, description }) => (
            <ProductCard
              image={image}
              name={name}
              price={price}
              description={description}
            />
          ))
        }
      </ul>
    </section>
    <!-- Conchas Waffle -->
    <section
      class="mx-2 flex flex-col gap-8 bg-dark px-page py-20 sm:mx-4 sm:gap-12 lg:gap-16"
    >
      <h2 class="text-xl font-bold uppercase sm:text-2xl">Conchas Waffle</h2>
      <ul
        class="grid grid-cols-2 gap-4 sm:grid-cols-3 sm:gap-6 lg:grid-cols-4 lg:gap-8"
      >
        {conchasWaffle.map((conchaWaffle) => <ProductCard {...conchaWaffle} />)}
      </ul>
    </section>
    <!-- Café Banner -->
    <section
      class="relative mx-2 min-h-96 border-b-8 border-t-8 border-b-brand border-t-brand bg-dark-2 sm:mx-4 sm:border-b-[16px] sm:border-t-[16px]"
    >
      <Image
        src={cafeBg}
        alt="Fondo de ladrillos"
        aaria-hidden="true"
        class="absolute inset-0 h-full w-full object-cover object-bottom"
      />
      <div
        class="relative flex h-full w-full flex-col-reverse items-center gap-12 px-page pt-8 sm:flex-row lg:gap-20"
      >
        <Image
          src={cafe}
          alt="Cafe"
          class="h-full w-full object-cover object-bottom sm:w-2/5"
        />
        <div class="flex h-full w-full flex-col sm:pb-8">
          <div class="flex items-center justify-between gap-4 lg:gap-12">
            <Icon
              name="coffee/kind"
              class="aspect-[3/2] h-full w-full lg:aspect-[5/2]"
            />
            <Icon name="coffee/roast" class="aspect-[13/2] h-full w-full" />
            <h4 class="text-3xl font-bold sm:text-4xl lg:text-6xl">$490</h4>
          </div>
          <div class="mb-8 flex flex-col">
            <Icon
              name="coffee/logo"
              class="aspect-[8/1.5] h-full w-full origin-bottom object-bottom"
            />
            <p class="text-base leading-relaxed lg:text-xl">
              Un Café de Micro lote único, cosechado exclusivamente para Grupo
              Postreria y nuestros clientes más especiales.
            </p>
          </div>
          <div class="flex">
            <Button
              arrow
              href="https://www.lapostreria77.com/cafe"
              newTab={true}
            >
              Mas Información
            </Button>
          </div>
        </div>
      </div>
    </section>
    <!-- Bebidas -->
    <section
      class="sm:;gap-12 mx-2 flex flex-col gap-8 bg-dark px-page py-20 sm:mx-4 lg:gap-16"
    >
      <div
        class="flex flex-col bg-dark-2 p-4 text-light sm:flex-row sm:items-center sm:gap-8 sm:p-8 lg:gap-16"
      >
        <Image
          src={bebida}
          alt="Lattes para llevar."
          class="h-full object-cover sm:w-1/2"
        />
        <div class="flex flex-grow flex-col gap-8 py-8">
          <div class="flex flex-col gap-1">
            <h2 class="text-xl font-bold uppercase sm:text-2xl">Bebidas</h2>
            <p class="text-xs font-light sm:text-sm">
              *Disponibles únicamente en sucursal <span class="font-bold"
                >Herradura</span
              >
            </p>
          </div>
          <div class="flex flex-col gap-4 sm:gap-6">
            {
              bebidas.map((bebida) => (
                <div class="flex justify-between">
                  <h5 class="font-medium sm:text-xl">{bebida.name}</h5>
                  <p class="font-bold sm:text-xl">${bebida.price}</p>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
