---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

interface Props {
  image: ImageMetadata;
  alt: string;
  icon: string;
  title: string;
  price: number;
  flavors: string;
}

const { image, alt, icon, title, price, flavors } = Astro.props;
---

<li class="lg:min-w-80">
  <Image src={image} alt={alt} class="w-48 lg:w-60" />
  <div class="flex items-end gap-8 mt-4 mb-2">
    <div class="flex items-end gap-3">
      <Icon name={icon} class="size-5 lg:size-6" />
      <h4 class="font-medium text-lg lg:text-xl leading-none">{title}</h4>
    </div>
    <h4 class="font-medium text-xl leading-none">${price}</h4>
  </div>
  <p class="text-[10px] lg:text-sm opacity-60 text-light">{flavors}</p>
</li>
