---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

interface Props {
  image: ImageMetadata;
  alt: string;
  icon: string;
  title: string;
  price: number;
  flavors: string[];
  extra?: string;
}

const { image, alt, icon, title, price, flavors, extra } = Astro.props;
---

<li class="lg:min-w-80">
  <Image src={image} alt={alt} class="w-48 lg:w-60" />
  <div class="mb-2 mt-4 flex items-end gap-8">
    <div class="flex items-baseline gap-3">
      <Icon name={icon} class="size-5 lg:size-6" />
      <h4 class="text-lg font-medium leading-none lg:text-xl">{title}</h4>
    </div>
    <h4 class="text-xl font-bold leading-none">${price}</h4>
  </div>
  <p class="mb-2 text-[10px] uppercase">{extra}</p>
  <p class="text-[10px] text-light opacity-60 lg:text-sm">
    * {
      flavors.map((flavor, index) =>
        index === flavors.length - 1 ? `${flavor}.` : `${flavor}, `,
      )
    }
  </p>
</li>
