---
import { Image } from "astro:assets";

interface Props {
  image: string;
  name: string;
  price: number;
  description: string;
}

const { image, name, price, description } = Astro.props;
---

<li class="flex flex-col gap-4">
  <Image
    src={image}
    alt={name}
    class="aspect-square"
    width={900}
    height={900}
  />
  <div>
    <div class="flex items-center justify-between gap-4">
      <h3 class="text-xs lg:text-xl font-medium">{name}</h3>
      <h4 class="text-xs lg:text-xl font-medium">${price}</h4>
    </div>
    <p class="text-[10px] lg:text-sm opacity-60">{description}</p>
  </div>
</li>
