---
import { Image } from "astro:assets";
import New from "./ui/New.astro";

// interface Props {
//   image: string;
//   name: string;
//   price: number;
//   description: string;
//   nuevo?: boolean;
// }

const { nuevo, image, name, price, description } = Astro.props;
---

<li class="relative flex flex-col gap-4">
  {nuevo && <New />}
  <Image
    src={image}
    alt={name}
    class="aspect-square"
    width={900}
    height={900}
  />
  <div>
    <div class="flex items-center justify-between gap-4">
      <h3 class="text-xs font-medium lg:text-xl">{name}</h3>
      <h4 class="text-xs font-medium lg:text-xl">${price}</h4>
    </div>
    <p class="text-[10px] opacity-60 lg:text-sm">{description}</p>
  </div>
</li>
